<% tweets.each do |tweet| %>
  <div class="container d-flex justify-content-center">
    <div class="d-flex">
      <div class="mr-auto">
      <%= link_to admin_customer_path(tweet.customer.id) do %>
        <%= attachment_image_tag tweet.customer, :profile_image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></br>
        <p><%= tweet.customer.name %></p>
      <% end %>
      </div>

      <div class="ml-auto d-flex">
        <%= link_to admin_tweet_path(tweet.id) do %>
          <%= attachment_image_tag tweet, :tweet_image, :fill, 60, 60, fallback: "no_image.jpg" %>
          <p><%= tweet.title %></p>
        <% end %>
        <p>内容：<%= tweet.body %></p>
        <div class="ml-auto pl-5">
          PV数　<%= tweet.impressions_count %>
        </div>
      </div>
    </div>
  </div>
<% end %>