<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <h1>フォロワーリスト</h1>
      <table class="table text-center table-responsive">
        <thead>
          <tr>
            <th>投稿者</th>
            <th class="text-left">自己紹介</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td>
                <%= link_to customer_path(customer) do %>
                  <%= attachment_image_tag customer, :profile_image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
                  <%= customer.name %>
                <% end %>
              </td>
              <td class="align-middle text">
                <%= customer.introduction %>
              </td>
              <td>
                <div id="follows_buttons_<%= customer.id %>" class="align-middle text-nowrap">
                  <%= render partial: 'customer/customers/followbuttons', locals: { customer: customer} %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>