<% if @customer.id != current_customer.id %>
<div class="container px-5 px-sm-0">
    <!--下のおすすめをリンク表示する-->
    <h2><%= current_customer.name %>さん、本日のおすすめはご覧になりましたか？</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="d-culmn">
                <div class="d-flex">
                  <%= attachment_image_tag @customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
                  <% if @customer.id == current_customer.id %>
                      <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p><br>
                  <% end %>

                  <p class="text-small">
                    <%= link_to @customer.followings.count, followings_customer_path(@customer) %> フォロー<br>
                    <%= link_to @customer.followers.count, followers_customer_path(@customer) %> フォロワー<br>
                  </p>

                  <div id="follows_buttons_<%= @customer.id %>">
                    <%= render partial: 'customer/customers/followbuttons', locals: { customer: @customer} %>
                  </div>
                </div>
                <%= @customer.name %>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-hover table-inverse table-responsive">
              <tbody>
                <tr>
                  <td></td>
                  <td><h4>自己紹介</h4></td>
                  <td></td>
                  <td><%= @customer.introduction %></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

  <div class="row offset-md-1">
    <h2><%= @customer.name %>さんの投稿一覧</h2>
    <table class="table table-hover table-inverse table-responsive">
      <thead>
        <tr>
          <th>投稿者</th>
          <th  colspan="3">投稿</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @customer.tweets.each do |tweet| %>
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag tweet.customer, :profile_image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          </td>
          <td class="text-nowrap">
            <%= link_to tweet_path(tweet.id) do %>
                <%= tweet.title %>
            <% end %>
          </td>
          <td>
            <%= tweet.body %>
          </td>
          <td id="likes_buttons_<%= tweet.id %>" class="align-middle text-nowrap">
            <%= render partial: 'customer/likes/like', locals: { tweet: tweet} %>
          </td>
          <td>
              PV数　<%= tweet.impressions_count %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
<%= paginate @tweets %>
<% end %>




<% if @customer.id == current_customer.id %>
<div class="container px-5 px-sm-0">
    <!--下のおすすめをリンク表示する-->
    <h2><%= current_customer.name %>さん、本日のおすすめはご覧になりましたか？</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="d-culmn">
                <div class="d-flex">
                  <%= attachment_image_tag @customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
                  <% if @customer.id == current_customer.id %>
                      <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p><br>
                  <% end %>

                  <p class="text-small">
                    <%= link_to @customer.followings.count, followings_customer_path(@customer) %> フォロー<br>
                    <%= link_to @customer.followers.count, followers_customer_path(@customer) %> フォロワー<br>
                  </p>

                  <% if customer_signed_in? %>
                    <div id="follows_buttons_<%= @customer.id %>">
                      <%= render partial: 'customer/customers/followbuttons', locals: { customer: @customer} %>
                    </div>
                  <% end %>

                </div>
                <%= @customer.name %>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table">
              <tbody>
                <tr>
                  <td></td>
                  <td><h4>自己紹介</h4></td>
                  <td></td>
                  <td><%= @customer.introduction %></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

  <div class="row offset-md-1">
    <h2>最新の投稿一覧</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @timelines.each do |tweet| %>
      <tbody>
        <tr>
          <td>
            <%= link_to customer_path(tweet.customer.id) do %>
              <%= attachment_image_tag tweet.customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
              <%= tweet.customer.name %>
            <% end %>
          </td>
          <td>
            <%= link_to tweet_path(tweet.id) do %>
              <%= tweet.title %>
            <% end %>
          </td>
          <td>
            <%= tweet.body %>
          </td>
          <td>
              PV数　<%= tweet.impressions_count %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
<%= paginate @timelines %>
<% end %>