<div id="box">
  <div id="images">
    <div class="image1">
      <%= link_to dayrank_path, class: 'rankimages w-100 d-flex align-items-center justify-content-center', data: {"turbolinks" => false} do %>
        <div class="align-items-center imageitems text-center display-4 text-primary lead">日間ランキングへ</div>
      <% end %>
    </div>
    <div class="image2">
      <%= link_to weekrank_path, class: 'rankimages w-100 d-flex align-items-center justify-content-center', data: {"turbolinks" => false} do %>
        <div class="align-items-center imageitems text-center display-4 text-primary lead">週間ランキングへ</div>
      <% end %>
    </div>
    <div class="image3">
      <%= link_to monthrank_path, class: 'rankimages w-100 d-flex align-items-center justify-content-center', data: {"turbolinks" => false} do %>
        <div class="align-items-center imageitems text-center display-4 text-primary lead">月間ランキングへ</div>
      <% end %>
    </div>
    <div class="image4">
      <%= link_to yearrank_path, class: 'rankimages w-100 d-flex align-items-center justify-content-center', data: {"turbolinks" => false} do %>
        <div class="align-items-center imageitems text-center display-4 text-primary lead">年間ランキングへ</div>
      <% end %>
    </div>
  </div>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <h2>新着ランキング</h2>
    <table class="table table-hover table-inverse table-responsive">
      <thead>
        <tr>
          <th class="text-center">投稿者</th>
          <th class="text-center">投稿</th>
          <th class="text-center"></th>
          <th class="text-center text-nowrap"></th>
        </tr>
      </thead>
      <% @tweets.each do |tweet| %>
      <tbody>
        <tr>
          <td class="align-middle text-center">
            <%= link_to customer_path(tweet.customer.id) do %>
              <%= attachment_image_tag tweet.customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></br>
              <p><%= tweet.customer.name %></p>
            <% end %>
          </td>
          <td class="align-middle text-center">
            <%= link_to tweet_path(tweet.id) do %>
              <%= attachment_image_tag tweet, :tweet_image, :fill, 60, 60, fallback: "no_image.jpg" %>
              <p><%= tweet.title %></p>
            <% end %>
          </td>
          <td class="align-middle text-wrap">
            <p>内容：<%= tweet.body %></p>
          </td>
          <td class="align-middle text-nowrap">
            PV数　<%= tweet.impressions_count %></br>
            <%= tweet.updated_at.strftime("%Y-%m-%d %H:%M") %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <%= paginate @tweets %>
</div>
